<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
</head>
<body>
    Hello <span>imooc</span>
    <br/>
    Hello <span>Jack</span>
    <br/>

    <input value="Jack">
    <br/>
    <!--  判断字符串是否为空  -->
    判断字符串是否为空: <span>false</span>
    <br/>
    <!--  判断字符串是否包含指定字符  -->
    判断字符串是否包含指定字符: <span>true</span>
    <br/>
    <!--  打印参数字符串的长度  -->
    打印参数字符串的长度: <span>4</span>
    <br/>
    <!--  判断字符串以什么开头  -->
    判断字符串以什么开头: <span>true</span>
    <br/>
    <!--  判断字符串以什么结尾  -->
    判断字符串以什么结尾：<span>true</span>
    <br/> <br/>

    默认展示时间日期：<span>Thu Oct 21 10:44:54 CST 2021</span>
    <br/>
    默认格式化日期：<span>2021年10月21日 CST 上午10:44:54</span>
    <br/>
    指定格式化日期：<span>2021-10-21 10:44:54</span>
    <br/>

    
    
    <br/>
    <span>
        
        
        <span>
            未知
        </span>
    </span>
    <br/> <br/>
    <br/> <br/>

    <span>
        输出：<span>Java</span>
        count: <span>1</span>
        size: <span>5</span>
        index: <span>0</span>
        first: <span>true</span>
        last: <span>false</span>
        odd: <span>true</span>
        even: <span>false</span>
        <br/>
    </span><span>
        输出：<span>Python</span>
        count: <span>2</span>
        size: <span>5</span>
        index: <span>1</span>
        first: <span>false</span>
        last: <span>false</span>
        odd: <span>false</span>
        even: <span>true</span>
        <br/>
    </span><span>
        输出：<span>golang</span>
        count: <span>3</span>
        size: <span>5</span>
        index: <span>2</span>
        first: <span>false</span>
        last: <span>false</span>
        odd: <span>true</span>
        even: <span>false</span>
        <br/>
    </span><span>
        输出：<span>HTML</span>
        count: <span>4</span>
        size: <span>5</span>
        index: <span>3</span>
        first: <span>false</span>
        last: <span>false</span>
        odd: <span>false</span>
        even: <span>true</span>
        <br/>
    </span><span>
        输出：<span>JavaScript</span>
        count: <span>5</span>
        size: <span>5</span>
        index: <span>4</span>
        first: <span>false</span>
        last: <span>true</span>
        odd: <span>true</span>
        even: <span>false</span>
        <br/>
    </span>
    <br/>
    <span>
        <span>hobbies=[Java, Python, golang, HTML, JavaScript]</span>
        <span>hobbies</span>
        <span>[Java, Python, golang, HTML, JavaScript]</span>
        <br/>
    </span><span>
        <span>sex=男</span>
        <span>sex</span>
        <span>男</span>
        <br/>
    </span><span>
        <span>name=Jack</span>
        <span>name</span>
        <span>Jack</span>
        <br/>
    </span><span>
        <span>id=841941</span>
        <span>id</span>
        <span>841941</span>
        <br/>
    </span>
    <br/> <br/>

<!--    <span th:text="${#request.getAttribute('englishName')}"></span>-->
<!--    <br/>-->
<!--    <span th:text="${#session.getAttribute('userToken')}"></span>-->

</body>
</html>